.validation-msg-container {
  font-size: 12px;
  color: red;
}
input.ng-touched.ng-invalid {
  border: solid red 2px;
}

input.ng-touched.ng-valid {
  border: solid green 2px;
}

.custom-class-example {
  color: black;
}

  .selected-list .c-token {
    background: #87cfe0 !important;
  }

  .custom-class-example .pure-checkbox label::before {
    border-color: #38d574 !important;
  }

  .custom-class-example .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
    background: #38d574 !important;
  }
  .cuppa-dropdown {
    border: 1px solid;
    border-radius: 5px;
  }
